/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/avatar
/logs
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
Questions.xlsx
npm-debug.log
yarn-error.log
Football.xlsx
Hollywood.xlsx
Music.xlsx
.editorconfig